body {
  font-family: Avenir, sans-serif;
  padding: 0;
  margin: 0;
  background-color: black;
  color: rgba(240, 240, 240, 1);
  height: 100%;
}

header, footer {
  position: fixed;
  background-color: rgba(20,20,20,1);
  padding-left: 1rem;
  width: 100vw;
  margin: 0;
  z-index: 2 !important;
}

footer {
  bottom: 0;
  height: fit-content;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header h3 {
  display: inline-block;
  width: 89%;
}

header img {
  display: none;
  position: absolute;
  right: 1rem;
  width: 50px;
  height: 50px;
  margin: 0.5rem;
}

header .playing > span {
  font-weight: normal;
  padding: 0 0.6rem;
  opacity: 0.5;
}

#savedArtists {
  height: fit-content;
  /* padding: 0 1rem !important; */
}

#savedArtists span {
  color: grey;
}

#savedArtists {
  display: inline-block;
  padding-left: 0.5rem;
  height: 1rem;
  margin: 0;
  color: gray;
  font-size: 11pt;
}

#savedArtists .savedList a {
  color: rgba(200, 200, 200, 1.0);
  text-decoration: none;
  font-size: 10pt;
}

#savedArtists .savedList a:hover {
  color: white;
}



audio {
  /* width: 139%; ll*/
  max-width: 260px;
  /*ll*/
  height: 24px;
  display: block;
  /* overflow: hidden; */
}


.tags {
  margin-bottom: 10px;
  padding-left: 1rem;
  font-size: 10pt;
}

.albumPlayer {
  padding-left: 1rem;
}

.albumPlayer div span{
  cursor: pointer;
}

.albumPlayer[data-playing="true"] span {
  font-weight: bold;
}

.albumPlayer a {
  text-decoration: none;
  color: white;
}

/* ========================== */

.playerWrapper { 
  display: block;
  height: fit-content;
  width: fit-content;
  padding-left: 1rem;
  width: 420px;
  margin-bottom: 0.3rem;
  /* border: 1px dashed orange; */
} 

/* single container for all */
#players {
  padding-top: 5rem;
  padding-bottom: 3rem;
  /* padding-left: 1rem; */
}

.playerWrapper > * {
  display: inline-block;
}

.playerWrapper .thumb {
  width: 60px;
  /* border: 1px solid red; */
}

.playerWrapper .thumb img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 0.5rem;
  animation: 1s linear 1s linear;
}

.playerWrapper .player {
  vertical-align: top;
  /* width: 200px; */
  /* width: 400px; */
  padding: 0 0.5rem;
  padding-bottom: 4px;
  /* border: 1px solid green; */
}

.playerWrapper .player label {
  color: rgba(255, 255, 255, 1);
  /* font-weight: /; */
  font-size: 14pt;
  min-width: 100px;
  cursor: pointer;
  /* width: 20%; */
}

.playerWrapper .follow {
  vertical-align: top;
  width: 40px;
  /* border: 1px solid yellow; */
}

.playerWrapper .follow .opener {
  font-size: 24pt; 
  cursor: pointer;
}

.playerWrapper .children {
  display: none;
  margin-left: 1.5rem;
}

.playerWrapper .children.opened {
  display: block;
  left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-left: 1px solid grey;
}

.playerWrapper .children .loading {
  padding-left: 1rem;
}


.player.playing {
  border: 1px solid grey;
}

.dg {
  z-index: 2 !important;
  right: -1rem !important;
  /* opacity: 0.5; */
}